.twitter-generator {
  display: flex;
  gap: 1.5rem;
  padding: 1.5rem;
  background-color: #f7f9fa;

  app-form-menu {
    flex: 1;
  }

  app-twitter-card {
    flex: 2;
  }

  @media (max-width: 768px) {
    flex-direction: column;

    app-form-menu {
      flex: 0;
      order: 2;
    }

    app-twitter-card {
      flex: 0;
      order: 1;
    }
  }
}
