<div class="twt-replybox">
  <div class="twt-icon-replycontainer">
    <img class="twt-icon" [src]="user().image" />
  </div>

  <div class="twt-replycontainer">
    <span class="twt-name"
      >{{ user().username }}
      @if (user().isVerified) {
        <img class="twt-socialimg" src="https://i.imgur.com/wStuVM9.png" />
      }
    </span>
    <span class="twt-handle">@{{ user().handle }} · {{ date() }} </span>
    <span class="twt-handle">Replying to</span> <span class="twt-hl"> @{{ replyTo() }}</span>

    <div class="twt-replycontent">
      <app-content [message]="message()"></app-content>
    </div>

    @if (imageStatus().hasImage) {
      <app-image [url]="imageUrl"></app-image>
    }

    <div class="twt-stat2">
      <div class="twt-social">
        <img class="twt-socialimg" src="https://i.imgur.com/dJg9v1v.png" />{{ replyNumber() }}
      </div>

      <div class="twt-social">
        <img class="twt-socialimg" src="https://i.imgur.com/UeOnwXk.png" />{{ shareNumber() }}
      </div>

      <div class="twt-social">
        <img class="twt-socialimg" src="https://i.imgur.com/eM56CN2.png" />{{ likeNumber() }}
      </div>
    </div>
  </div>
</div>
